body,div {
    margin: 0;
    padding: 0;
}
.picroll-container {
    box-shadow: 0 0 24px;
    margin: 100px ;
}
.picroll-container-res {
    box-shadow: 0 0 24px;
    width: 100%;
    height: 600px;
}