body,div {
    margin: 0;
    padding: 0;
}
.picroll-container {
    box-shadow: 0 0 24px;
    margin: 100px ;
}
/*对自适应版本支持*/
.picroll-container-res {
    box-shadow: 0 0 24px;
    margin: 50px 15%;
    width: 60%;
    height: 360px;
}